{
	"extends": ["eslint:recommended", "prettier"],
	"overrides": [
		{
			"files": ["*.mjs", "*.js", "*.c.js"],
			"env": {
				"browser": true,
				"node": true,
				"es6": true
			},
			"rules": {
				"import/first": "warn",
				"import/newline-after-import": "warn",
				"import/no-duplicates": "warn",
				"simple-import-sort/imports": "warn",
				"simple-import-sort/exports": "warn",
				"prettier/prettier": "warn"
			}
		},
		{
			"files": ["*.ts", "*.d.ts"],
			"parser": "@typescript-eslint/parser",
			"plugins": ["typescript-sort-keys", "sort-destructure-keys"],
			"extends": [
				"plugin:import/typescript",
				"plugin:@typescript-eslint/eslint-recommended",
				"plugin:@typescript-eslint/recommended",
				"plugin:typescript-sort-keys/recommended"
			],
			"rules": {
				"typescript-sort-keys/interface": "error",
				"typescript-sort-keys/string-enum": "error",
				"sort-destructure-keys/sort-destructure-keys": "error"
			}
		}
	],
	"parserOptions": {
		"ecmaVersion": "latest",
		"sourceType": "module"
	},
	"plugins": ["import", "simple-import-sort", "prettier"],
	"rules": {
		"import/first": "error",
		"import/newline-after-import": "error",
		"import/no-duplicates": "error",
		"simple-import-sort/imports": "error",
		"simple-import-sort/exports": "error",
		"prettier/prettier": "warn"
	}
}
