# PNPM Config
registry=https://registry.npmjs.org
auto-install-peers=true
progress=false
strict-ssl=false

# Next.ui
public-hoist-pattern[]=*@nextui-org/*

# Deploy Packages
always-auth=true
git-checks=false
publish-branch=production
