# Github
.github

# Dependency directories
node_modules

# Workspaces
.next
dist
esm
cjs

# turbo
.turbo

# Ignore files for PNPM
**/pnpm-lock.yaml

# Next.js build core by library/next-core
client/src/pages/api/
client/src/lib
