# Github
.github

# Dependency directories
node_modules

# Workspaces
.next
dist
esm
cjs

# turbo
.turbo

# Ignore files for PNPM
**/pnpm-lock.yaml

# Next.js build api by library/next-api
client/src/pages/api/
