# Github
.github

# Dependency directories
node_modules

# Workspaces
.next
dist
lib
lib-esm

# turbo
.turbo

# # Ignore files for PNPM, NPM and YARN
# pnpm-lock.yaml

# Build Database API
client/src/pages/api