@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	padding: 0;
	margin: 0;
	background-image: linear-gradient(120deg, #f0d045, #030303);
	font-family: "LINE Seed Sans Regular";
}

@font-face {
	font-family: "LINE Seed Sans Regular";
	src: url("/fonts/LINESeedSansTH/Regular.woff");
}

@font-face {
	font-family: "LINE Seed Sans Thin";
	src: url("/fonts/LINESeedSansTH/Thin.woff");
}

@font-face {
	font-family: "LINE Seed Sans Bold";
	src: url("/fonts/LINESeedSansTH/Bold.woff");
}

@font-face {
	font-family: "LINE Seed Sans ExtraBold";
	src: url("/fonts/LINESeedSansTH/ExtraBold.woff");
}

@font-face {
	font-family: "LINE Seed Sans Heavy";
	src: url("/fonts/LINESeedSansTH/Heavy.woff");
}

@media (max-width: 1020px) {
	.absolute-position {
		left: 50%;
		transform: translateX(-50%);
	}
}
.swiper-pagination-bullets {
	display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}
